@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Digital Numbers';
  src: url('/fonts/DigitalNumbers-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --primary: #4c79ff;
  --primary-10: #4c79ff1a;
  --primary-30: #4c79ff4d;
  --primary-gradient-start: #4c79ff;
  --primary-gradient-end: #023e99;

  --secondary-indigo: #023e99;
  --informative: #2563eb;
  --negative: #dc2626;
  --notice: #fbbf24;
  --positive: #22c55e;
  --fuchsia: #fd28ec;

  --gray-50: #f9fafb;
  --gray-100: #f0f2f5;
  --gray-200: #e5e7eb;
  --gray-300: #ccd0d6;
  --gray-400: #969da8;
  --gray-500: #717887;
  --gray-600: #4b5563;
  --gray-700: #394252;
  --gray-800: #1f2937;

  --state-disabled: var(--gray-400);
  --state-hover: #446de6; /* Primary 10% 투명도 */
  --state-active: #446de6; /* Primary 30% 투명도 */
  --state-focus: #4c79ff;
  --state-dim1: rgba(0, 0, 0, 0.5);
  --state-dim2: rgba(0, 0, 0, 0.7);
  --state-border: var(--gray-300);

  --shadow-1: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@theme inline {
  /* Base font */
  --font-family-main:
    'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  /* Digital font */
  --font-family-digital: 'Digital Numbers', 'Pretendard', sans-serif;
  --text-digital: 400 154px/200px var(--font-family-digital);

  /* Heading (24/30) */
  --text-heading-b: 700 1.5rem/1.875rem var(--font-family-main);
  --text-heading-s: 600 1.5rem/1.875rem var(--font-family-main);
  --text-heading-m: 500 1.5rem/1.875rem var(--font-family-main);
  --text-heading-r: 400 1.5rem/1.875rem var(--font-family-main);

  /* Title (20/24) */
  --text-title-b: 700 1.25rem/1.5rem var(--font-family-main);
  --text-title-s: 600 1.25rem/1.5rem var(--font-family-main);
  --text-title-m: 500 1.25rem/1.5rem var(--font-family-main);
  --text-title-r: 400 1.25rem/1.5rem var(--font-family-main);

  /* Sub-title (18/22) */
  --text-subtitle-b: 700 1.125rem/1.375rem var(--font-family-main);
  --text-subtitle-s: 600 1.125rem/1.375rem var(--font-family-main);
  --text-subtitle-m: 500 1.125rem/1.375rem var(--font-family-main);
  --text-subtitle-r: 400 1.125rem/1.375rem var(--font-family-main);

  /* Body (16/20) */
  --text-body-b: 700 1rem/1.25rem var(--font-family-main);
  --text-body-s: 600 1rem/1.25rem var(--font-family-main);
  --text-body-m: 500 1rem/1.25rem var(--font-family-main);
  --text-body-r: 400 1rem/1.25rem var(--font-family-main);

  /* Body Small (14/18) */
  --text-body-s-b: 700 0.875rem/1.125rem var(--font-family-main);
  --text-body-s-s: 600 0.875rem/1.125rem var(--font-family-main);
  --text-body-s-m: 500 0.875rem/1.125rem var(--font-family-main);
  --text-body-s-r: 400 0.875rem/1.125rem var(--font-family-main);

  /* Caption (12/16) */
  --text-caption-b: 700 0.75rem/1rem var(--font-family-main);
  --text-caption-s: 600 0.75rem/1rem var(--font-family-main);
  --text-caption-m: 500 0.75rem/1rem var(--font-family-main);
  --text-caption-r: 400 0.75rem/1rem var(--font-family-main);

  /* Label (10/12) */
  --text-label-b: 700 0.625rem/0.75rem var(--font-family-main);
  --text-label-s: 600 0.625rem/0.75rem var(--font-family-main);
  --text-label-m: 500 0.625rem/0.75rem var(--font-family-main);
  --text-label-r: 400 0.625rem/0.75rem var(--font-family-main);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-primary: var(--primary);
  --color-primary-10: var(--primary-10);
  --color-primary-30: var(--primary-30);
  --color-primary-gradient-start: var(--primary-gradient-start);
  --color-primary-gradient-end: var(--primary-gradient-end);

  --color-secondary-indigo: var(--secondary-indigo);
  --color-informative: var(--informative);
  --color-negative: var(--negative);
  --color-notice: var(--notice);
  --color-positive: var(--positive);
  --color-fuchsia: var(--fuchsia);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-light: var(rgba(249, 250, 251, 1));

  --color-state-disabled: var(--state-disabled);
  --color-state-hover: var(--state-hover);
  --color-state-active: var(--state-active);
  --color-state-focus: var(--state-focus);
  --color-state-dim1: var(--state-dim1);
  --color-state-dim2: var(--state-dim2);
  --color-state-border: var(--state-border);

  --color-shadow-1: var(--shadow-1);
  --color-shadow-2: var(--shadow-2);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  body {
    @apply min-h-dvh overflow-x-hidden;
  }
}

.input-field:checked + .input-label {
  @apply text-green-500 font-bold;
}

@layer utilities {
  /* Digital */
  .text-digital {
    font-weight: 400;
    font-size: 154px;
    line-height: 200px;
    font-family: var(--font-family-digital);
  }

  /* Heading (24/30) */
  .text-heading-b {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: var(--font-family-main);
  }
  .text-heading-s {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: var(--font-family-main);
  }
  .text-heading-m {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: var(--font-family-main);
  }
  .text-heading-r {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: var(--font-family-main);
  }

  /* Title (20/24) */
  .text-title-b {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: var(--font-family-main);
  }
  .text-title-s {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: var(--font-family-main);
  }
  .text-title-m {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: var(--font-family-main);
  }
  .text-title-r {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: var(--font-family-main);
  }

  /* Sub-title (18/22) */
  .text-subtitle-b {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: var(--font-family-main);
  }
  .text-subtitle-s {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: var(--font-family-main);
  }
  .text-subtitle-m {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: var(--font-family-main);
  }
  .text-subtitle-r {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-family: var(--font-family-main);
  }

  /* Body (16/20) */
  .text-body-b {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: var(--font-family-main);
  }
  .text-body-s {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: var(--font-family-main);
  }
  .text-body-m {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: var(--font-family-main);
  }
  .text-body-r {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: var(--font-family-main);
  }

  /* Body Small (14/18) */
  .text-body-s-b {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: var(--font-family-main);
  }
  .text-body-s-s {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: var(--font-family-main);
  }
  .text-body-s-m {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: var(--font-family-main);
  }
  .text-body-s-r {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-family: var(--font-family-main);
  }

  /* Caption (12/16) */
  .text-caption-b {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--font-family-main);
  }
  .text-caption-s {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--font-family-main);
  }
  .text-caption-m {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--font-family-main);
  }
  .text-caption-r {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--font-family-main);
  }

  /* Label (10/12) */
  .text-label-b {
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-family: var(--font-family-main);
  }
  .text-label-s {
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-family: var(--font-family-main);
  }
  .text-label-m {
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-family: var(--font-family-main);
  }
  .text-label-r {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-family: var(--font-family-main);
  }
}

body {
  font-family: var(--font-main);
  letter-spacing: 0;

  margin: 0;
}
